$grey: #bdc3c7;
$green: #1abc9c;
$purple: #8e44ad;
$yellow: #f1c40f;
$blue: #3498db;
$phone: "(max-width: 560px)";
$tablet: "(max-width: 740px)";

@mixin generate-grid($columns) {
    @for $i from 1 through $columns {
        $width: calc(100% / ( #{$columns} / #{$i} ));
        .col-#{$i} {
          width: $width;
        }
        .col-offset-#{$i} {
          margin-left: $width;
      }
    }
  }

@include generate-grid(10);

[class*='col-'] {
	float: left;
	min-height: 1px;
}
.row {
    &:before, &:after {
    content: "";
    display: table;
    clear: both;
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #34495e;
    text-align: center;
}
.container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    max-width: 1000px;
    font-family: Acme, sans-serif;
    color: $grey;
}
.data {
    padding: 12vh 0;
    @media (max-width: 560px) {
        padding: 6vh 0;
        width: 100%;
        margin: 0 auto;
    } 
    [class*="-data"] {
        .name {
            font-size: 42px;
            text-transform: uppercase;
            color: $green;
            white-space: nowrap; 
            @media #{$tablet} {
                font-size: 32px;
                display: flex;
                justify-content: center;
            }  
        }
        .choice {
            font-size: 34px;
            @media #{$tablet} {
                font-size: 22px;
                display: flex;
                justify-content: center;
            }  
        }
        @media (max-width: 560px)  {
            float: none;
            margin: 0 auto;
        } 
    }
    .score {
        display: flex;
        justify-content: space-around;
        background: $grey;
        color: black;
        font-size: 3em;
        font-weight: 900;
        border-radius: 5%;
        padding: 20px;
        border: solid black 3px;
        min-width: 150px;
        @media (max-width: 560px)  {
            font-size: 2.5em;
            padding: 10px;
            display: block;
            float: none;
            margin: 10px auto;
        } 
        > div {
            display: inline-block;
            @media (max-width: 560px) {
               display: block;
            } 
        }
        div:nth-child(2) {
            @media (max-width: 560px) {
                display: none;
             } 
        }
    }
    .flex-direction {    
        @media (max-width: 560px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}
.comment {
    p {
        font-size: 3rem;
        color: $green;
    }
}
.buttons {
    padding-top: 10vh;
    padding-bottom: 10vh;
    @media (max-width: 560px) {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
}
.btn {
    background-color: inherit;
    border-radius: 5%;
    border: 2px solid;
    cursor: pointer;
    padding: 10px;
    font-family: Acme, sans-serif;
    font-size: 7em;
    transition: .4s;
    background-position: 100% 0;
    background-size: 300%;
    &:hover {
        color: white;
        background-position: 0 100%;
    }
}
.btn-purple {
    border-color: $purple;
    color: $purple;
    background-image: linear-gradient(90deg, $purple 50%, transparent 50%);
}
.btn-yellow {
    border-color: $yellow;
    color: $yellow;
    background-image: linear-gradient(45deg, $yellow 50%, transparent 50%);
}
.btn-blue {
    border-color: $blue;
    color: $blue;
    background-image: linear-gradient(270deg, transparent 50%, $blue 50%);
}
.btn-play {
    display: none;
    > p {
        font-size: 100px;
        @media (max-width: 780px) {
            font-size: 80px;
        }  
        @media (max-width: 630px) {
            font-size: 60px;
        }  
        @media (max-width: 470px) {
            font-size: 46px;
        } 
    }
}
.main-game {
    display: none;
}
.start-game {
    padding-top: 15vh;
    @media #{$tablet} {
        padding-top: 20vh;
    }  
    @media #{$phone} {
        padding-top: 28vh;
    }  
    .btn {
        font-size: 6rem;
        @media #{$tablet} {
            font-size: 4rem;
        }  
        @media #{$phone} {
            font-size: 3rem;
        }  
    }
    i {
        padding-top: 10vh;
        font-size: 15em;
        color: $blue;
        @media #{$tablet} {
            font-size: 10em;
        }  
        @media #{$phone} {
            font-size: 7em;
        }  
    }
}
.btn.col-2 {
    @media (max-width: 700px) {
        margin-left: 5%;
        width: calc(80%/3);
        padding: 5px;
    }
    @media (max-width: 350px) {
        margin: 0 10% 10px;
        width: 80%;
        padding: 0;
    }  
    i {
        @media (max-width: 700px) {
            font-size: 5rem;
        } 
    }
}


