$grey: #bdc3c7;
$green: #1abc9c;
$purple: #8e44ad;
$yellow: #f1c40f;
$blue: #3498db;

@mixin generate-grid($columns) {
    @for $i from 1 through $columns {
        $width: calc(100% / ( #{$columns} / #{$i} ));
        .col-#{$i} {
          width: $width;
        }
        .col-offset-#{$i} {
          margin-left: $width;
      }
    }
  }

@include generate-grid(10);

[class*='col-'] {
	float: left;
	min-height: 1px;
}
.row {
    &:before, &:after {
    content: "";
    display: table;
    clear: both;
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #34495e;
    text-align: center;
}
.container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    max-width: 1200px;
    font-family: Acme, sans-serif;
    color: $grey;
}
.data {
    padding: 12vh 0;
    [class*=-data] {
        font-size: 2.5em;
        .name {
            font-size: 2.5rem;
            text-transform: uppercase;
            color: $green;
            white-space: nowrap; 
        }
        .choice {
            font-size: 1.8rem;
        }
    }
    .score {
        display: flex;
        justify-content: space-around;
        background: $grey;
        color: black;
        font-size: 3em;
        font-weight: 900;
        border-radius: 5%;
        padding: 20px;
        border: solid black 3px;
        min-width: 150px;
        > div {
            display: inline-block;
        }
    }
}
.comment {
    p {
        font-size: 3rem;
        color: $green;
    }
}
.buttons {
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.btn {
    background-color: inherit;
    border-radius: 5%;
    border: 2px solid;
    cursor: pointer;
    padding: 10px;
    font-family: Acme, sans-serif;
    font-size: 7em;
    min-width: 220px;
    transition: .4s;
    background-position: 100% 0;
    background-size: 800%;
    &:hover {
        color: white;
        background-position: 0 100%;
    }
}
.btn-purple {
    border-color: $purple;
    color: $purple;
    background-image: linear-gradient(90deg, $purple 50%, transparent 50%);
}
.btn-yellow {
    border-color: $yellow;
    color: $yellow;
    background-image: linear-gradient(45deg, $yellow 50%, transparent 50%);
}
.btn-blue {
    border-color: $blue;
    color: $blue;
    background-image: linear-gradient(135deg, $blue 50%, transparent 50%);
}
.btn-play {
    display: none;
}
.main-game {
    display: none;
}
.start-game {
    padding-top: 15vh;
    .btn {
        font-size: 6rem;
    }
    i {
        padding-top: 10vh;
        font-size: 15em;
        color: $blue;
    }
}



